.home-wrapper {
    margin: 30px 0 0 17.5rem;
    background: rgb(216, 225, 228);
    padding: 60px ;
    overflow-y:auto;
    /*min-height: 100vh;*/
    display: flex;
    height: 100vh;
    max-height: 890px;

}

.texto{
    color:#1a1a1a;
}

.cuadrito {
    padding: 5px;
    display: inline-block;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgb(146, 224, 169);
    object-fit: cover;
}

.loading {
    z-index: 9998;
    transform: scale(0.25);
    position: absolute;
    text-align: center;
    width: 80%;
  }

.fotogrande {
    max-width: 150px;
    max-height: 150px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
}

.divwindow {
    width: 100%;
    border: black 0px solid;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 3);
 }

.divcabecera {
    padding: 10px;
    background-color:rgb(62, 139, 255);
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    vertical-align: middle;
    max-height: 200px;
    font-weight: bold;
}

.divcuerpo {
    background-color: rgb(196, 196, 196);
 }

 /* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Encabezado de la tabla */
thead {
    background-color: #007bff;
    color: #fff;
}

thead th {
    padding: 12px;
    text-align: left;
    color: white;
}

/* Filas alternas */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Celdas de datos */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Hover sobre las filas */
tbody tr:hover {
    background-color: #feffd1;
    transform: scale(1.01); /* Aplica un zoom del 110% al pasar el mouse por encima */
    transition: transform 0.2s ease; /* Agrega una transición suave para animar el efecto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 3);
}
.foto {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    text-align: center;
}
