<app-sidebar></app-sidebar>
<app-section-generic></app-section-generic>

<div class="home-wrapper">
    <div id="loading" class="loading">
        <img src="..\..\assets\loading-loader.gif" alt="Cargando...">
    </div>

    <router-outlet name="child" class="texto"></router-outlet>


            <div class="divwindow">
                <div class="divcabecera">
                    Niveles
                </div>
                <div class="divcuerpo">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>NIVEL</th>
                            <th>DESCRIPCIÓN</th>
                            <th>TIPO</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of niveles" >
                            <td><img appImgBroken class="foto" [src]="item.varIMAGEN" [alt]="item.name"></td>
                            <td>{{ item.varNOMBRENIVEL }}</td> 
                            <td>{{ item.varNOMBRENIVEL2 }}</td> 
                            <td>{{ item.varNOMBRETIPONIVEL }}</td> 
                            <td><button class="btn btn-outline-success" (click)="RedirectNiveles(item.idNIVEL)"><i class="fa-solid fa-arrow-right"></i> Entrar</button></td>
                        </tr>
                        </tbody>
                    </table>          
                </div>
            
            </div>


</div>

