.home-wrapper {
    margin: 30px 0 0 17.5rem;
    background: rgb(216, 225, 228);
    padding: 60px ;
    overflow-y:auto;
    /*min-height: 100vh;*/
    display: flex;
    height: 100vh;
    max-height: 890px;

}

.texto{
    color:#1a1a1a;
}

.despliegue_lateral{
color:#1a1a1a;
display: flex;
} 

.cover-section {
    display: flex;
    padding: 0
}

.cover-section .cover-track {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.cover-section .cover-info {
    padding: 0 1rem;
}

.cover-section .cover-info .name-track-details {
    font-size: 80%;
    opacity: .7;
}

.cuadrito {
    padding: 5px;
    display: inline-block;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgb(146, 224, 169);
    object-fit: cover;
}

.loading {
    z-index: 9998;
    position: absolute;
    text-align: center;
    width: 80%;
  }

