<app-sidebar></app-sidebar>
<app-section-generic></app-section-generic>

<div class="home-wrapper">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Niveles</li>
    </ol>
  </nav>
    <div id="loading" class="loading">
      <img src="..\..\assets\loading-loader.gif" alt="Cargando...">
    </div>
    <div class="divwindow">
      <div class="divcabecera">
          <div class="divfoto"><img [src]="this.imagennivel" class="fotogrande"></div>
          <div class="divinterno"> 
            <div class="tituloheaders"><i class="fa-solid fa-users-viewfinder"></i> NIVEL {{ this.nombrenivel1 }}</div>
            <div class="divinterno2">{{ this.nombrenivel2 }}</div>
            <div><i class="fa-solid fa-children"></i> Alumnos: {{ this.numeropersonas }}</div>
          </div>
          
          <div class="divdocentes">
            <div class="tituloheaders"><i class="fa-solid fa-user-graduate"></i> Educadora</div>
            <div class="row">
                <div class="divdocentesinterno col-6">
                  <div *ngIf="this.imagendocente1!='undefined'"><img [src]="this.imagendocente1" class="foto"></div>
                  <div>{{this.nombredocente1}}</div>
                </div>
                <div class="col-6">
                  <div *ngIf="this.hayDocentes"><button class="btn btn-success btn-sm" ><i class="fa-solid fa-circle-info"></i> Ficha </button></div>
                </div>
            </div>
          </div>

          <div class="divdocentes">
            <div class="tituloheaders"><i class="fa-solid fa-user-graduate"></i> Asistente</div>
            <div class="row">
                <div class="divdocentesinterno col-6">
                  <div *ngIf="this.imagendocente2!='undefined'"><img [src]="this.imagendocente2" class="foto"></div>
                  <div>{{this.nombredocente2}}</div>
                </div>
                <div class="col-6">
                  <div *ngIf="this.hayDocentes"><button class="btn btn-success btn-sm" ><i class="fa-solid fa-circle-info"></i> Ficha </button></div>
                </div>
            </div>
          </div>              
      </div>
      <div *ngIf="hayAlumnos" class="divcuerpo">
        <table class="table">
          <thead>
            <tr>
              <th class="pointermano thredondeado" (click)="ordena('INFOADICIONAL1')">N° <i *ngIf="this.sentidoorden == 'asc' && this.columnaactualorden == 'INFOADICIONAL1'" class="fa-solid fa-arrow-down" style="color: yellow;"></i><i *ngIf="this.sentidoorden == 'desc' && this.columnaactualorden == 'INFOADICIONAL1'" class="fa-solid fa-arrow-up" style="color: yellow;"></i></th>
              <th class="thredondeado">FOTO</th>
              <th class="pointermano thredondeado" (click)="ordena('NOMBRES')">NOMBRES <i *ngIf="this.sentidoorden == 'asc' && this.columnaactualorden == 'NOMBRES'" class="fa-solid fa-arrow-down" style="color: yellow;"></i><i *ngIf="this.sentidoorden == 'desc' && this.columnaactualorden == 'NOMBRES'" class="fa-solid fa-arrow-up" style="color: yellow;"></i></th>
              <th class="pointermano thredondeado" (click)="ordena('APELLIDO1')">APELLIDO 1 <i *ngIf="this.sentidoorden == 'asc' && this.columnaactualorden == 'APELLIDO1'" class="fa-solid fa-arrow-down" style="color: yellow;"></i><i *ngIf="this.sentidoorden == 'desc' && this.columnaactualorden == 'APELLIDO1'" class="fa-solid fa-arrow-up" style="color: yellow;"></i></th>
              <th class="pointermano thredondeado">APELLIDO 2</th>
              <th class="pointermano thredondeado">EDAD</th>
              <th class="pointermano thredondeado">Género</th>
              <th class="pointermano thredondeado"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of alumnosnivel" (click)="openFicha(item.idPERSONA)" class="pointermano">
              <td class="tdalineavertical">{{ item.INFOADICIONAL1 }}</td>
              <td class="tdalineavertical" style="text-align: center"><img [src]="item.FOTO" class="foto"></td>
              <td class="tdalineavertical">{{ item.NOMBRES }}</td>
              <td class="tdalineavertical">{{ item.APELLIDO1 }}</td>
              <td class="tdalineavertical">{{ item.APELLIDO2 }}</td>
              <td class="tdalineavertical">{{ this.extraeEdad(item.FECHANACIMIENTO) }}</td>
              <td class="tdalineavertical">{{ item.GENERO }}</td>
              <td class="tdalineavertical"><!--<button class="btn btn-success btn-sm" (click)="openFicha(item.idPERSONA)"><i class="fa-solid fa-circle-info"></i> Ficha </button>--></td>
            </tr>
          </tbody>
        </table>
  
      </div>
      <div *ngIf="!hayAlumnos" class="divsinregistros"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp; No hay alumnos registrados en este nivel.</div>
    </div>


</div>


<ng-template #FichaModal class="mi-modal">
  <div class="mi-modal" >
    <div class="modal-header2">
      <h4 class="modal-title"><i class="fa fa-child" aria-hidden="true"></i> Ficha del Alumno</h4>
    </div>
    <div class="modal-body2 container">

        <div class="row">
          <div class="ficha-alumno-datos col-5 m-1" > 
            <img src={{contenidoHTML_Foto}} class="fotoficha" alt="Foto del alumno">
            <div class="nombre" [innerHTML]="contenidoHTML_Nombre"></div>
            <div class="subnombre" [innerHTML]="contenidoHTML_FechaNacimiento"></div>
            <div class="subnombre" [innerHTML]="contenidoHTML_Edad"></div>
            <div class="subnombre" [innerHTML]="contenidoHTML_Genero"></div>
          </div>
          <div class="ficha-alumno-datos col-7 m-1" style="width:56%">kjfvsdjhfg</div>
        </div>


        <div s class="row">
          <div class="ficha-alumno-datos col-12 m-2">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#notas" type="button" role="tab" aria-controls="home" aria-selected="true">Notas</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#progreso" type="button" role="tab" aria-controls="profile" aria-selected="false">Progreso</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#asistencia" type="button" role="tab" aria-controls="contact" aria-selected="false"> Asistencia</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#salud" type="button" role="tab" aria-controls="contact" aria-selected="false"><i class="fa-solid fa-book-medical"></i> Información Salud</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="notas" role="tabpanel" aria-labelledby="home-tab">hfdgh jhdfglk hjlkfgd hlkjfgdlkh jldfg hlkjdf hldfgjhkldfg</div>
              <div class="tab-pane fade" id="progreso" role="tabpanel" aria-labelledby="profile-tab">aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa a</div>
              <div class="tab-pane fade" id="asistencia" role="tabpanel" aria-labelledby="contact-tab">NBB BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBbbbBBB B B</div>
              <div class="tab-pane fade" id="salud" role="tabpanel" aria-labelledby="contact-tab">NBB</div>
            </div>            

          </div>
        </div>  

    </div>
  </div>
  <!--<div [innerHTML]="contenidoHTML"></div>-->
</ng-template>
